# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

### Above combination will ignore all files without extension ###

# Ignore the result folder
# Ignore the data folder

results/
data/
__pycache__/